.panel {
  display: flex;
  border-radius: 20px;
  background-color: white;
  overflow-y: scroll;
}
.banner {
  background-color: #212529;
  text-align: center;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.banner-title {
  margin: 7px;
  white-space: nowrap;
}
#schedule {
  display: flex;
  flex-direction: row;
  background-color: #d9d9d9;
}
.week-day {
  display: flex;
  flex-direction: column;
  margin: 1%;
  background-color: white;
  border-radius: 20px;
  width: 12%;
}
.weekday-body {
  text-align: center;
  height: 55%;
}
.meal {
  height: 20%;
}
.daily-totals {
  background-color: #212529;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px;
  height: 40%;
}
