body {
  margin: 0;
  padding: 0;
}
#root {
  background-color: #d9d9d9;
  width: 100%;
}
header {
  background-color: #212529;
  display: flex;
  color: white;
  padding-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#panels {
  display: flex;
}
#title {
  display: flex;
  text-align: center;
}
#left-side {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#right-side {
  display: flex;
  flex-direction: column;
  width: 70vw;
}
@media (max-width: 768px) {
  #panels {
    flex-direction: column;
  }
  #left-side {
    width: auto;
  }
  #right-side {
    width: auto;
  }
  #schedule {
    overflow-x: scroll;
  }
  #breakdown {
    overflow-x: scroll;
  }
  .week-day {
    width: auto;
  }
}
